body{
font-family:Arial;
background:linear-gradient(135deg,#ffd6e7,#cde7ff);
margin:0;padding:15px;
}

#splash{
position:fixed;
inset:0;
background:#ff4f9a;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:28px;
z-index:99;
}

.card{
max-width:420px;
margin:auto;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

input,button,select{
width:100%;
padding:10px;
margin:5px 0;
border-radius:10px;
border:1px solid #ccc;
}

button{background:#ff4f9a;color:white;border:none}

header{
display:flex;
justify-content:space-between;
}

nav{display:flex;gap:5px;margin:10px 0}

.tabBtn{flex:1}

.tabContent{
background:white;
padding:10px;
border-radius:10px;
}

.jadwalItem{
background:#fff3f8;
margin-bottom:6px;
padding:8px;
border-radius:8px;
}
